/*
---------------------
main-content-sec-wrp
---------------------
*/
.main-content-wrp{
	background: #fff;
	padding-top: 15px;
}
.main-content-lft{
	float: left;
	width: 18%;
}
.main-content-lft-dsc span{
	display:block;
	font-size: 15px;
	line-height: 17px;
	color: #338dc9;
	font-weight: 500;
	padding-left: 12px;
	padding-bottom: 12px;
}
.main-content-lft-dsc > a{
	display: inline-block;
	vertical-align: baseline;
	font-size: 17px;
	line-height: 19px;
	color: #fff;
	background: #e50051;
	font-weight: 900;
	padding: 7px 14px 9px 11px;
	margin-bottom: 9px;
	margin-left: 2px;
}
.main-content-lft-dsc > a:hover{
	background: #e30613;
	color: #0a8731;
}
.main-content-lft-list ul{
	list-style: none;
	margin: 0;
	padding: 0;
	padding-top: 8px;
	padding-left: 8px;
}
.main-content-lft-list ul li{
	font-size: 12px;
	line-height: 14px;
}
.main-content-lft-list ul li a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	color: #91acd2;
	font-weight: 500;
}
.main-content-rgt{
	float: right;
	width: 82%;
	padding-right: 55px;
}
.main-content-top{
	padding-bottom: 43px;
}
.main-content-lft-btm h4,
.main-content-lft-btm h3,
.main-content-lft-btm h2,
.main-content-lft-btm h1,
.main-content-btm h2,
.main-content-btm h3,
.main-content-btm h1,
.main-content-top h2,
.main-content-top h3,
.main-content-top h1{
	margin: 0;
	color: #000;
	margin-bottom: 20px;
}
.main-content-lft-btm h5,
.main-content-btm h5,
.main-content-top h5{
	margin: 0;
	font-size: 15px;
	line-height: 17px;
}
.product-grid-wrp ul{
	list-style: none;
	margin: 0 -8px;
	padding: 0;
}
.product-grid-wrp ul li{
	float: left;
	width: 33.3333%;
	padding: 0 8px 22px;
}
.product-grid-img{
	position: relative;
}
.product-grid-img img{
	width: 100%;
}
.product-grid-img a.cart-icon {
    display: inline-block;
    vertical-align: baseline;
    text-decoration: none;
    position: absolute;
    right: 10px;
    top: 10px;
    background: url(../images/product-grid-cart-icon.png);
    background-repeat: no-repeat;
    background-size: 17px 17px;
    width: 17px;
    height: 17px;
    z-index: 12;
    transition:all 0.5s;
    -ms-transition:all 0.5s;
    -webkit-transition:all 0.5s;
}
.product-grid-img a.cart-icon:hover{
	background:url(../images/product-grid-cart-icon-hover.png);
}
.product-grid-title {
    background: #e50051;
    padding: 7px 10px 8px;
    margin-top: 5px;
}
.product-grid-title h5{
	margin: 0;
	font-size: 15px;
	line-height: 17px;
	color: #fff;
	font-weight: 300;
}
.product-grid-title h5 a{
	display: inline-block;
	vertical-align: baseline;
	color: inherit;
}
.main-content-btm {
    padding-top: 10px;
    padding-bottom: 60px;
}
.main-content-btm span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 15px;
	line-height: 17px;
	font-weight: 500;

}

/*
------------------
 Responsive Css
------------------
*/
@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.main-content-rgt {
	    padding-right: 30px;
	}

}

@media(max-width: 991px){
	.product-grid-wrp ul li {
	    width: 50%;
	}
	
}

@media(max-width: 767px){
	.main-content-rgt {
	    padding-right: 0;
	    width: 100%;
	}
	.main-content-top{
		padding-left: 15px;
	}
	.main-content-top h2{
		font-weight: 400;
	}
	.main-content-top h4{
		font-size: 18px;
		line-height: 20px;
		color: #7e7e7e;
		margin:0;
	}
	.product-grid-wrp{
		padding: 0 15px;
	}
	.product-select{
		padding-left: 15px;
		padding-right: 15px;
		border-top: 1px solid #ededed;
		border-bottom: 1px solid #ededed;
		padding-top: 13px;
		padding-bottom: 15px;
		margin-bottom: 12px;
	}
	.main-content-btm h4{
		margin: 0;
		font-weight: 300;
		color: #97979b;
		text-align: center;

	}
	.main-content-btm {
	    border-top: 1px solid #e4e4e4;
	    padding-top: 20px;
	    margin-top: 15px;
	}
	.news-grid-select-3{
		position: relative;
	}
	.news-grid-select-3 .btn{
		display: inline-block;
		margin-bottom: 0;
		font-size: 24px;
		line-height: 26px;
		color: #575656 !important;
		font-weight: 300;
		border:0 !important;
		border-radius: 0 !important;
		padding: 0;
		padding-left: 40px;
		background: transparent;
		min-width: 100% !important;
    	height: 25px;
    	background-image: url(../images/select-angle.png);
		background-repeat: no-repeat;
		background-size: 15px 8px;
		background-position: left 5px top 10px;
	}
	
	.news-grid-select-3 .btn-default:hover{
		background-color: #fff;
	}
	.news-grid-select-3 .btn-light:not(:disabled):not(.disabled).active,
	.news-grid-select-3 .btn-light:not(:disabled):not(.disabled):active,
	.news-grid-select-3 .show>.btn-light.dropdown-toggle{
		background-color: #fff !important;
		border:1px solid #d1d1d1 !important;
		border-bottom:0 !important;
	}
	.news-grid-select-3 .dropdown-menu{
		min-width: 300px;
		padding: 5px 0;
		margin:0;
		font-size: 18px;
		line-height: 20px;
		color: #575656;
		font-weight: 300;
		border-radius: 0;
		border:1px solid #d1d1d1;
		border-top:0;
		box-shadow: none;
	}
	.news-grid-select-3 .bootstrap-select .dropdown-toggle:focus{
		outline: none;
		outline: none;
		outline-offset: 0;
	}

	.news-grid-select-3 .dropdown-menu > li > a{
		padding: 3px 20px;
		font-size: 18px;
		line-height: 20px;
		color: #575656;
		font-weight: 300;
	}
	.news-grid-select-3 .dropdown-menu > li > a.active{
		color: #3b3b3b;
	}
	.news-grid-select-3 .dropdown-menu > .active > a,
	.news-grid-select-3 .dropdown-menu > .active > a:focus,
	.news-grid-select-3 .dropdown-menu > .active > a:hover{
		background-color: #fff;
		outline: 0;
	}
	.news-grid-select-3 .btn-default.active,
	.news-grid-select-3 .btn-default:active,
	.news-grid-select-3 .open > .dropdown-toggle.btn-default{
		color: #000 !important;
		background-color: #fff;
		border-bottom-color:#fff !important;
		border-color: #d1d1d1;
	}
	.news-grid-select-3 .btn.active{
		background-image: none;
		outline: 0; 
		-webkit-box-shadow:none; 
		box-shadow:none;
	}
	.news-grid-select-3 .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
		width: 100%;
	}
	.news-grid-select-3 .caret{
		border: 0;
	}
	.news-grid-select-3 .dropdown-toggle::after{
		display: none;
	}
	.news-grid-select-3 .dropdown-menu{
		max-width: 100% !important;
		width: 100%;
	}
	.news-grid-select-3 .btn-default.focus,
	.news-grid-select-3 .btn-default:focus {
		background-color: #fff;
	}
	.news-grid-select-3 .dropdown-menu > li > a:focus, 
	.news-grid-select-3 .dropdown-menu > li > a:hover {
		color: #262626;
		text-decoration: none;
		background-color: #fff;
	}
}

@media(max-width: 575px){
	.product-grid-wrp ul li {
	    width: 100%;
	}

}

@media(max-width: 479px){
	.news-grid-select-3 .btn{
		font-size: 22px;
		line-height: 24px;
		padding-left: 30px;
	}
	.news-grid-select-3 .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
		width: 100%;
	}
	.news-grid-select-3 .dropdown-menu > li > a{
		font-size: 16px;
		line-height: 18px;
	}

}

@media(max-width: 359px){

}